<!DOCTYPE html>
<html lang="en">
    <%- include('./components/head.ejs') %>
    <%- include('./components/header.ejs') %>
  <body>
      <h1 style="text-align: center;">Список читателей:</h1>
  
        <% if (result.length) { %>
          <% result.forEach(({ _id, name, lastname, status }) => { %>
            <li>
              <article>
                  <a href="/readers/<%= _id %>">
                    <span style="color: white;"><span style="color:hsla(272, 30%, 18%, 0.541);">Фамилия: </span><%= lastname %></span>
                  </a>
                <p>
                  <span><span style="color: hsla(272, 30%, 18%, 0.541);">Имя: </span><%= name %></span>
                </p>
                <div style="font-size: smaller;">
                  <span><span style="color: hsla(272, 30%, 18%, 0.541);">Статус: </span><%= status %></span>
                </div>
              </article>
            </li>
            <% }) %>
              <% } %>

  </body>

</html>